#toolbar {
  background-color: var(--stratus-background-grey);
  border-bottom: 1px solid var(--stratus-border-grey);
}

#chevron_down:hover {
  transform: translateY(4px);
  transition: transform 0.2s;
}

.toolbar-button-active {
  background-color: var(--stratus-purple) !important;
}
