.drawer-left {
  border-right: 1px solid var(--stratus-border-grey) !important;
}

.react-resizable-handle {
  background-image: none !important;
}

.react-resizable-handle-e {
  right: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 5px !important;
  transform: rotate(0deg) !important;
  opacity: 0 !important;
  padding: 0px !important;
  margin: 0px !important;
}

.react-resizable-handle-e:hover {
  opacity: 100 !important;
  border-right: 1px solid var(--stratus-purple) !important;
}

.react-resizable-handle-e-dragging {
  opacity: 100 !important;
  border-right: 1px solid var(--stratus-purple) !important;
}